.lootbox__card-disabled {cursor: pointer; transition: box-shadow 0.1s; border-radius: 10px;}
.lootbox__card-disabled:hover {box-shadow: var(--bsh);}
.lootbox__card-disabled[data-rank=s], .lootbox__card-disabled[data-rank=ass] {animation: bounceX 1s ease; animation-iteration-count: 3; animation-fill-mode: forwards;}
.step1 .lootbox__card-disabled {opacity: 0; pointer-events: none;}
.lootbox__open-btn-disabled {min-width: 273px; height: 50px; font-size: 15px; font-weight: 500;}

.anime-cards__item-disabled {
    position: relative;
    background: var(--ui-bg-darker);
    padding: 6px;
    border-radius: 16px;
    box-shadow: 0 1px 1px transparent, 0 2px 2px rgba(0, 0, 0, .12);
    cursor: pointer;
}